
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@300;400;500;600&family=Ramabhadra&display=swap');
@import "variables.scss";
@import "mixins.scss";
@import "default.scss";

.header{
    color: $white;
    padding-top: 19px;

    .contanier{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        display: flex;

        li{
            margin-right: 100px;

            &:last-child{ //у родителя последний дочерний
                margin-right: 0;
            }
        }
    }

    .sight-in{
        display: flex;

        .buy{
            display: flex;
            position: relative;
            margin-right: 29px;
            width: 35px;
            height: 35px;
        }
    }
}