/*сброс*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}
.wrapper{
    width: 1296px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
    color: inherit;
}
.choice ul li:nth-child(2) a{
    border-bottom: #FF715B solid;
}
/*wrapper*/

.wrapper{
    width: 1296px;
    margin: auto;
}

/*header*/

.wrapper{
    height: 231px;
}

.header-nav{
    float: left;
    padding-top: 29px;
}
.header-nav ul li{
    display: inline;
    float: left;
    padding-left: 26.02px;
}
.header-nav ul li:first-child{
    padding-left: 80.06px;
}
.header-nav ul li a{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


.header-icons{
    float: right;
    width: 380px;
    padding-top: 22px;
}
.header-icons div{
    display: inline;
}
.header-icons img{
    padding-right: 24px;
    vertical-align: top;
}
.header-icons .overlay{
  position: relative;
}
.header-icons .top{
    position: absolute;
    top: -10px;
    left: 15px;
}
.header-icons a{
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-left: 45px;
}
.header-icons a img{
    padding-right: 8px;
    vertical-align: sub;
}


.header-tel{
    padding-top: 22px;
}
.header-tel div img{
    vertical-align: middle;
    padding-left: 100px;
}
.header-tel div{
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}


/*content header*/

.content-menu{
    float: left;
    width: 269px;
    margin-right: 45px;
}
.content-menu img:first-child{
    float: left;
    padding-left: 80px;
    padding-top: 65px;
}
.content-menu img:last-child{
    float: right;
    padding-top: 36px;
}

.content-basket{
    float: right;
    width: 200px;
    padding-top: 47px;
}
.content-basket button{
    float: left;
    width: 156.12px;
    height: 52px;
    background: #81B43F;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
}

.content-search{
    padding-top: 49px;
}
.content-search .search{
    width: 702px;
    height: 52px;
    background: #F9F9F9;
    border-radius: 8px;
    border: none;
    padding-left: 65px;
    background-image: url(../img/поиск.svg);
    background-repeat: no-repeat;
    background-position: center left 24px;
    background-origin: border-box;
}

/*footer header*/

.footer{
    padding-top: 24px;
    margin-bottom: 37px;
}
.footer ul li{
    display: inline;
}
.footer ul li a{
    padding-right: 24px;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.footer ul li:first-child{
    padding-left: 315px;
}
.footer ul li:last-child{
    color: #FF715B;
}

/*podheader*/

.podheader{
    height: 381px;
    background: url(../img/Картинка.png);
}
.podheader .sale{
    width: 511px;
    height: 226px;
    background: #FF715B;
    float: right;
    margin-top: 77px;
    color: #FFFFFF;
    text-align: center;
}
.sale p:first-child{
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding-top: 46px;
}
.sale h2{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}
.sale p:last-child{
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    padding-top: 12px;
}

.choice{
    height: 83px;
}
.choice ul{
    padding-top: 28px;
    padding-left: 160px;
}
.choice ul li{
    display: inline;
    padding-right: 64px;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.choice ul li:first-child{
    padding-right: 118px;
}
.choice ul li img{
    vertical-align: bottom;
    margin-right: 8px;
}

/*prise*/

.prise{
    height: 2541px;
    background-color: #F9F9F9;
}
.nav-menu{
    padding-top: 67px;
}
.nav-menu ul li{
    display: inline;
}
.nav-menu .nav-menu-left{
    float: left;
    padding-left: 80px;
    padding-right: 4px;
}
.nav-menu li{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}
.nav-menu-left li:last-child{
    color: #000000;
}
.nav-menu .nav-menu-right{
    float: right;
    padding-right: 80px;
}
.nav-menu-right li{
    padding-left: 14px;
}
.nav-menu-right li:first-child{
    color: #000000;
    font-weight: 500;
}

.filter-left{
    float: left;
}
.filter-left h3{
    display: inline;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    padding-left: 77px;
}
.filter-left p{
    display: inline;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 19px;
}

.filter-right{
    float: right;
    padding-right: 80px;
    padding-top: 16px;
}
.filter-right img{
    padding-left: 16px;
}

/*product*/

.product{
    margin-top: 77px;
}
.product .box{
    width: 1139px;
    margin: 0 auto;
    height: 273px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
}

.box .left{
    float: left;
    margin: 32px;
}
.box .header{
    float: left;
    width: 500px;
    margin-left: 25px;
}
.box .header h3{
    display: inline;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
}
.box .header p{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.2);
}
.box .header div{
    margin-top: 17px;
    margin-bottom: 23px;
}
.box .header p{
    display: inline;
    padding-right: 8px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.box .header div img{
    padding-right: 5px;
}
.box:nth-child(1) .header div img:last-of-type,
.box:nth-child(2) .header div img:last-of-type,
.box:nth-child(5) .header div img:last-of-type,
.box:nth-child(8) .header div img:last-of-type{
    filter: sepia(100%);
}
.box:nth-child(3) .header div img:nth-child(3),
.box:nth-child(3) .header div img:nth-child(4),
.box:nth-child(3) .header div img:last-of-type,
.box:nth-child(7) .header div img:nth-child(3),
.box:nth-child(7) .header div img:nth-child(4),
.box:nth-child(7) .header div img:last-of-type{
    filter: sepia(100%);
}

.box .header p:nth-child(5){
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
.box .header div:last-child{
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
}
.box .header div:last-child img{
    vertical-align: middle;
}

.box .left-icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 99px;
}
.box .left-icon img{
    padding-left: 8px;
}

.box .podhedar-right{
    float: right;
    margin-right: 20px;
}
.box .podhedar-right p{
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
}
.box .podhedar-right button{
    width: 240px;
    height: 50px;
    background: #81B43F;
    border-radius: 8px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    margin-top: 14px;
}
.box .podhedar-right button img{
    vertical-align: middle;
    margin-right: 8px;
}

.NE-sale{
    background-image: url(../img/Rectangle\ 18.png);
    height: 209px;
    width: 1136px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.NE-sale h3{
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    padding-top: 51px;
    padding-left: 136px;
}
.NE-sale button{
    width: 191px;
    height: 47px;
    margin-top: 12px;
    margin-left: 137px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border-radius: 8px;
    background: #f6f6f4;
    border-width: 1px;
}


.more{
    margin-top: 28px;
}
.more div{
    float: right;
    width: 47px;
    height: 47px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 180px;
    text-align: center;
    margin-right: 80px;
}
.more div img{
    padding-top: 10px;
}

.more button{
    width: 149px;
    height: 47px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border-radius: 8px;
    background: #f6f6f4;
    border-width: 1px;
    margin-left: 573px;
}
.more p{
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 35px;
}



/*footer*/
.footer-subscribe{
    height: 439px;
    background: #F0F0F0;
    padding-top: 56px;
}
.footer-subscribe > ul{
    display: inline;
    float: left;
}
.footer-subscribe > ul li{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
}
.footer-subscribe > ul li:first-child{
    font-weight: 600;
    margin-bottom: 12px;
}
.footer-subscribe ul:first-child{
    padding-top: 2px;
    padding-left: 128px;
}
.footer-subscribe ul:nth-child(2) li{
    padding-left: 126px;
}
.footer-subscribe ul:nth-child(3) li{
    padding-left: 110px;
}

.footer-subscribe .apps{
    float: right;
    margin-right: 108px;
}
.footer-subscribe .apps div:first-child{
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.footer-subscribe .apps div:last-child{
    width: 121.96px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 6px;
}
.footer-subscribe .apps div:last-child img{
    margin: 0 auto;
    display: block;
}
.footer-subscribe .apps div:last-child img:last-child{
    position: relative;
    padding-top: 7.22px;
}
.footer-subscribe .apps div:last-child img:first-child{
    position: absolute;
    padding-left: 38.7px;
    padding-top: 7.55px;
}
.footer-subscribe .apps img:first-of-type{
    margin-left: -10px;
}

.social-networks{
    margin-top: 77px;
}
.social-networks li:first-child{
    padding-left: 601px;
}
.social-networks li{
    display: inline;
    padding-right: 18.25px;
}

.footer-subscribe p{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 17px;
}
