@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Montserrat:wght@300;400;600;700&display=swap');
@import "variation.scss";
@import "mix.scss";
@import "originally.scss";


.contanier{
    @include breakpoint (lg){
        width: 967px;
    }
    
    @include breakpoint (xl){
        width: 757px;
    }
    @include breakpoint (md){
        width: 390px;
    }
    
}
.header{
    color: $white;
    padding-top: 30px;           
    position: relative;
    .contanier{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint (xl){
            flex-direction: column;
        }
        img{
            @include breakpoint (xl){
                width: 100px;
            }}
        }
        .contact{
            position: relative;
        }
        .contact:hover .tel{
            display: block;
        }
        .tel{
            display: none;
            position: absolute;
            top: 30px;
            left: 0;
            color: $blue;
        }
        ul{
           display: flex;
           @include breakpoint (xl){
              padding-top: 26px;
            }
            @include breakpoint (md){
              display: flex;
              flex-direction: column;
              width: 100%;
              margin-left: 31px;
        }

        li{
            margin-right: 50px;
            font-family: $Montserrat;
            font-weight: $light;
            font-size: $fz14;
            @include breakpoint (lg){
                margin-right: 30px;
            }
            @include breakpoint (xl){
                font-size: 16px;
                margin-right: 20px;
            }
            @include breakpoint (md){
                margin-bottom: 10px;
            }
         
            &:last-child{
                margin-right: 0px;
            }
        }
        li:hover{
            color: $blue;
        }
    }    
    div button{
        width: 155px;
        height: 36px;
        background-color: $blue;
        color: $white;
        border: none;
        border-radius: 3px;
        font-family: $Montserrat;
        font-weight: $bold;
        font-size: $fz13;
        @include breakpoint (xl){
            display: none;
        }
    }
}

.header-item{
    color: $white;
    margin-top: 60px;
    @include breakpoint (xl){
        margin-top: 40px;
    }
    .contanier{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            width: 100%;
        }

        p:nth-child(2){
            position: absolute;
            top: 136px;
            font-family: $ElMessiri;
            font-weight: $superbold;
            font-size: $fz24;
            @include breakpoint (lg){
                top: 100px;
            }
            @include breakpoint (xl){
                top: 65px;
            }
            @include breakpoint (md){
                display: none;
            }
        }
        p:last-child{
            position: absolute;
            top: 210px;
            font-family: $ElMessiri;
            font-weight: $superbold;
            font-size: $fz64;
            text-align: center;
            @include breakpoint (lg){
               top: 200px;
               font-weight: $bold;
               font-size: $fz42;
            }
            @include breakpoint (xl){
                top: 122px;
            }
            @include breakpoint (md){
                top: 35px;
            }
        }
    }
}

.prise{
    color: $white;
    padding-top: 150px;
    @include breakpoint (lg){
        padding-top: 50px;
    }

    .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;
        @include breakpoint (xl){
            font-size: 38px;
        }

        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
            @include breakpoint (md){
                display: none;
            }
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;}
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
    }

    .contanier{
        display: flex;
        justify-content: space-between;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz24;
        margin-top: 100px;
        @include breakpoint (lg){
            margin-top: 50px;
        }
        @include breakpoint (xl){
            flex-direction: column;
            align-items: center;
        }
        @include breakpoint (md){
            background: url(../img/uderwother1.png);
            width: 370px;
            border-radius: 10px;
        }

        .item-left{
            position: relative;
            display: block;
            width: 416px;
            height: 540px;
            background-image: url(../img/uderwother1.png);
            @include breakpoint (lg){
                width: 300px;
                height: 540px;
                border-radius: 10px;
            }
            @include breakpoint (xl){
                height: 259px;
                margin-bottom: 23px;
            }
            @include breakpoint (md){
                background-image: none;
                margin-bottom: 0px;
            }
            span{
                position: absolute;
                bottom: 50px;
                left: 50px;
                @include breakpoint (xl){
                    left: 18px;
                    top: 47px;
                }
            }
            span:hover{
                @include breakpoint (xl){
                    color: $darkblue;
                    cursor: pointer;
                }
                @include breakpoint (md){
                    color: $darkblue;
                    cursor: default;
                }}
        }

        .flex-items{
            display: flex;
            @include breakpoint (md){
                margin-top: -177px;
            }
            
            .item{

                a{
                    display: block;
                    background: url(../img/underwother.png) no-repeat;
                    width: 416px;
                    height: 258px;
                    margin-left: 24px;
                    position: relative;
                    @include breakpoint (lg){
                        width: 300px;
                        height: 259px;
                        border-radius: 10px;
                    }
                    @include breakpoint (md){
                        background-image: none;
                        margin-left: 7px;
                        width: 158px;
                        height: 216px;
                    }

                    &:last-child{
                        margin-top: 24px;
                    }

                    span{
                        position: absolute;
                        left: 40px;
                        bottom: 30px;
                        @include breakpoint (xl){
                            left: 18px;
                            top: 47px;
                        }
                    }
                    
                    span:hover{
                        @include breakpoint (xl){
                            color: $darkblue;
                            cursor: pointer;
                        }
                        @include breakpoint (md){
                            color: $darkblue;
                            cursor: default;
                        }
                    }
                }
            }

        }
    }
}

.reviews_xl{
    display: none;
    @include breakpoint (xl){
        display: block;
        margin-top: 100px;
        & .reviews_xl_flex{
            display: flex;
            justify-content: space-around;
            margin-bottom: 100px;
            @include breakpoint (md){
                background: url(../img/about.jpg);
                border-radius: 11px;
                background-repeat: no-repeat;
                width: 373px;
                margin: 0 auto;
                margin-top: 39px;
            }
        }
        & .reviews_one, .about_xl{
            background: url(../img/about.jpg);
            width: 365px;
            height: 334px;
            border-radius: 11px;
            margin-top: 20px;
            position: relative;
            @include breakpoint (md){
                background: none;
            }
            p{
                position: absolute;
                left: 18px;
                top: 47px;
                color: $white;
                font-family: $ElMessiri;
                font-weight: $superbold;
                font-size: $fz24;
                @include breakpoint (md){
                    left: 29px;
                    font-size: 30px;
                }
            }
            p:hover{
                @include breakpoint (md){
                    color: $darkblue;
                    background-color: $blue;
                }
            }
        }
        hr{
            @include breakpoint (md){
                display: none;
            }}
        .text-list{
            display: flex;
            justify-content: center;
            font-family: $ElMessiri;
            font-weight: $superbold;
            font-size: 38px;
            color: $white;
            margin-top: 78px;
            @include breakpoint (md){
                margin-top: 45px;
            }
        }
    }
}

.reviews{
    margin-top: 150px;
    color: $white;
    @include breakpoint (lg){
        margin-top: 100px;
    }
    @include breakpoint (xl){
        display: none;
    }
    
    .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;

        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;
        }
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
    }

    .reviewsflex{
        margin-top: 100px;
        @include breakpoint (lg){
            margin-top: 50px;
        }

        .slider{
            position: relative;
            .slider-pagination label{
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 3px;
                background-color: gray;
                cursor: pointer;
                @include breakpoint (lg){
                    width: 14px;
                    height: 14px;
                }
            }
            input{
              opacity: 0;
            }
            .flex{
                display: flex;
                justify-content: space-around;
            }
            .z, .x, .c{
                width: 410px;
                height: 310px;
                background-color: $dark;
                border-radius: 10px;
                transition: 1s;
                font-family: $Montserrat;
                font-weight: $thin;
                font-size: $fz14;
                line-height: 12px;
                @include breakpoint (lg){
                    width: 295px;
                    height: 300px;
                    line-height: 11px;
                }
                @include breakpoint (xl){
                    width: 229px;
                    line-height: 9px;
                }

                p{
                    padding: 30px;
                    @include breakpoint (lg){
                        padding: 15px;
                    }
                }

                p:first-child{
                    font-size: $fz16;
                    font-weight: $superbold;
                    padding-bottom: 7px;
                }
            }
            .page1{
                position: absolute;
                left: 45%;
                top: 400px;
                @include breakpoint (lg){
                    top: 390px;
                }
            }
            
            .page2{
                position: absolute;
                left: 49%;
                top: 400px;
                @include breakpoint (lg){
                    top: 390px;
                }
            }
            .page3{
                position: absolute;
                left: 53%;
                top: 400px;
                @include breakpoint (lg){
                    top: 390px;
                }
            }
            .slide-radio1:checked~.slider-pagination .page1,
            .slide-radio2:checked~.slider-pagination .page2,
            .slide-radio3:checked~.slider-pagination .page3{
                background: $white;
            }
            .slide-radio1:checked ~.flex .z,
            .slide-radio2:checked~.flex .x,
            .slide-radio3:checked~.flex .c{
            transform: scale(1.4);
            background-color: $blue;
            line-height: 15px;
            @include breakpoint (lg){
                line-height: 12px;
            }
            }
        }
    }
}

.about{
    color: $white;
    margin-top: 226px;
    @include breakpoint (lg){
        margin-top: 150px;
    }
    @include breakpoint (xl){
        display: none;
    }

    .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;

        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;
        }
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
    } 
    
    .minicontanier{
        padding-top: 100px;
        width: 1076px;
        margin: 0 auto;
        @include breakpoint (lg){
            padding-top: 40px;
            width: 999px;
        }

        .about_flex{
            display: flex;
            justify-content: space-between;
    
            .img_flex{
                background: url(../img/about.jpg);
                width: 526px;
                height: 365px;
                border-radius: 11px;
                margin-bottom: 100px;
            }
    
            .about_text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 526px;
                height: 365px;
    
                div{
                    font-family: $Montserrat;
                    font-weight: $superbold;
                    font-size: $fz24;
                    padding-bottom: 30px;
                }
                p{
                    font-family: $Montserrat;
                    font-weight: $thin;
                    font-size: $fz16;
                }
            }
        }
        & .about_text:first-child p{
            padding-right: 24px;
        }
        & .about_text:last-child p, .about_text:last-child div{
            padding-left: 24px;
        }
    }
}

.sessions{
    color: $white;
    margin-top: 50px;
    width: 1076px;
    margin: 0 auto;
    @include breakpoint (xl){
        width: 757px;
    }
    @include breakpoint (md){
        width: 357px;
    }
    

    .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;
        @include breakpoint (xl){
            display: none;}

        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;
        }
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
    }

    .sessions_prise{
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        @include breakpoint (lg){
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 50px;
            margin-bottom: 50px;
        }
        @include breakpoint (xl){
            flex-direction: row;
        }

        div:last-child{
            background: url(../img/sessions.jpg);
            width: 526px;
            height: 396px;
            border-radius: 11px;
            @include breakpoint (xl){
                width: 911px;
            }
            @include breakpoint (md){
                display: none;
            }
        }
        .cost{
            display: flex;
            width: 526px;
            padding-top: 103px;
                @include breakpoint (lg){
                   padding-top: 50px;
                   justify-content: center;
                @include breakpoint (xl){
                    justify-content: left;
                    margin-left: 0px;
                    padding-top: 33px;
                }
            }
            li{
                margin-bottom: 31px;
                font-family: $Montserrat;
                font-weight: $light;
                font-size: $fz18;
                
            }
            ul:first-child li{
                margin-bottom: 46px;
                @include breakpoint (xl){
                   display: none;}
            }
            ul:nth-child(2){
                margin-right: 23px;
            }
            .prise_hover{
                @include breakpoint (xl){
                    display: none;}
            }
            ul:nth-child(2) li{
                @include breakpoint (xl){
                    background-color: $blue;
                    border-radius: 3px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @include breakpoint (md){
                    justify-content: center;
                }
            }
            ul:nth-child(2) li:hover{
                @include breakpoint (xl){
                    color: $darkblue;
                    cursor: pointer;
                }
            }
        }
        .cost{
            @include breakpoint (md){
                justify-content: center;
            }
        }
    }
    .surprise{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 30px;
        padding-right: 142px;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz20;
        @include breakpoint (lg){
            display: none;
        }
    }
    .marker{
        width: 18px;
        height: 9px;
        background: $blue;
        border-radius: 7px;
        transform: skew(53deg);
        margin-right: 20px;
    }
}

.adress{
    margin-top: 209px;
    color: $white;
    @include breakpoint (lg){
        margin-top: 100px;
    }
    @include breakpoint (xl){
        display: none;
    }

    .contanier{
        display: flex;
        justify-content: space-between;
        .map{
            iframe{
                width: 856px;
                height: 604px;
                @include breakpoint (lg){
                    width: 654px;
                    height: 504px;
                }
            }
            @include breakpoint (xl){
                display: none;
            }
        }

        .map_adress{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div{
                width: 392px;
                height: 290px;
                background-color: $blue;
                border-radius: 10px;
                @include breakpoint (lg){
                    width: 303px;
                    height: 249px;
                }

                ul{
                    margin-top: 35px;
                    margin-left: 45px;
                    @include breakpoint (lg){
                        margin-top: 10px;
                        margin-left: 25px;
                    }

                    li{
                        padding-bottom: 21px;
                        font-family: $Montserrat;
                        font-weight: $light;
                        font-size: $fz14;

                        &:first-child{
                            font-family: $ElMessiri;
                            font-weight: $superbold;
                            font-size: $fz24;
                        }
                    }
                    i{
                        margin-right: 23px;
                    }
                }
                button{
                    margin-top: 9px;
                    margin-left: 45px;
                    width: 155px;
                    height: 36px;
                    font-family: $Montserrat;
                    font-weight: $bold;
                    font-size: $fz13;
                    color: $blue;
                    border: none;
                    border-radius: 3px;
                }
            }
        }
    }
}

.end{
    display: flex;
    justify-content: space-between;
    color: $white;
    font-family: $Montserrat;
    font-weight: $light;
    font-size: $fz14;
    margin-top: 90px;
    margin-bottom: 30px;
    @include breakpoint (lg){
        margin-top: 30px;
    }
}



//Blog
.content-blog{
    color: $white;
    margin: 50px 0 30px 0;
    .contanier{
        .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;
        margin: 60px 0 60px 0;
    
        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
            @include breakpoint (md){
                display: none;
            }
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;}
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
        }
        .contanier_blog1, .contanier_blog2{
            height: 530px;
            border: 1px solid $blue;
            border-radius: 20px;
            display: flex;
            justify-content: space-around;
            padding-top: 50px;
            .foto{
                background: url(../img/image.jpg);
                width: 564px;
                height: 430px;
                border-radius: 10px;
            }
            .text{
                width: 564px;
                height: 430px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                button:nth-child(1), button:nth-child(4){
                    width: 96px;
                    height: 30px;
                    background: $blue;
                    border-radius: 5px;
                    font-family: $Montserrat;
                    font-size: $fz14;
                    font-weight: $superbold;
                    color: $white;
                }
                button:nth-child(4){
                    width: 134px;
                    height: 39px;
                }
                p:nth-child(2){
                    font-family: $ElMessiri;
                    font-size: $fz24;
                    font-weight: $superbold;
                }
                p:nth-child(3){
                    font-family: $Montserrat;
                    font-weight: $thin;
                    font-size: $fz16;
                }
            }
        }
        .contanier_blog2{
            margin: 45px 0 120px 0;
        }
        .endblog{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            font-size: $fz14;
        }
    }
}


//sessios 1-5
.sessions_info{
    color: $white;
    margin: 50px 0 30px 0;
    .contanier{
        .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;
        margin: 60px 0 60px 0;
    
        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
            @include breakpoint (md){
                display: none;
            }
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;}
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
        }
        .sessions_info1{
            display: flex;
            justify-content: space-around;
            padding-top: 50px;
            margin: 0 0 120px 0;
            .foto{
                background: url(../img/image.jpg);
                width: 564px;
                height: 430px;
                border-radius: 10px;
            }
            .text{
                width: 564px;
                height: 430px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .cost{
                display: none;
            }
            button{
                width: 134px;
                height: 39px;
                background: $blue;
                border: none;
                border-radius: 5px;
                font-family: $Montserrat;
                font-size: $fz14;
                font-weight: $superbold;
                color: $white;
                position: relative;
            }
            button:hover ~ div.cost{
                display: block;
                width: 134px;
                height: 39px;
                background: $blue;
                border-radius: 5px;
                font-family: $Montserrat;
                font-size: $fz14;
                font-weight: $superbold;
                color: $white;
                position: absolute;
                top: 420px;
            }
            p:nth-child(3){
                font-family: $ElMessiri;
                font-size: $fz24;
                font-weight: $superbold;
            }
            p:nth-child(4){
                font-family: $Montserrat;
                font-weight: $thin;
                font-size: $fz16;
            }
        }
        .endblog{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            font-size: $fz14;
        }
    }
}



//button fixed
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	background:url(../img/ui.totop.png) no-repeat left top;
	border:none;
	text-indent:100%;
}
#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left top;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}


//news
.news{
    color: $white;
    margin: 50px 0 30px 0;
    .contanier{
        .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;
        margin: 60px 0 60px 0;
    
        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
            @include breakpoint (md){
                display: none;
            }
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;}
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
        }
        .news_today{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 120px;
            & div{
                width: 416px;
                height: 258px;
                position: relative;
                &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5){
                    margin-right: 24px;
                }
                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    margin-bottom: 24px;
                }
                a{
                    display: block;
                    background: url(../img/underwother.png);
                    width: 416px;
                    height: 258px;
                }
                span{
                    position: absolute;
                    bottom: 30px;
                    left: 35px;
                    font-family: $ElMessiri;
                    font-weight: $superbold;
                    font-size: $fz20;
                }
                button{
                    position: absolute;
                    top: 30px;
                    left: 35px;
                    width: 96px;
                    height: 30px;
                    background-color: $blue;
                    border: none;
                    color: $white;
                    border-radius: 5px;
                    
                }
            }
        }
        .endblog{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            font-size: $fz14;
        }
    }
}

//content_news
.content-news{
    color: $white;
    margin: 50px 0 30px 0;
    .contanier{
        .text-list{
        display: flex;
        justify-content: center;
        font-family: $ElMessiri;
        font-weight: $superbold;
        font-size: $fz42;
        margin: 60px 0 60px 0;
    
        .list, .list1{
            width: 28px;
            height: 14px;
            background: $blue;
            border-radius: 7px;
            @include breakpoint (md){
                display: none;
            }
        }
        .list{
            transform: skew(53deg);
            margin-right: 50px;
            margin-top: 20px;}
        .list1{
            transform: skew(-53deg);
            margin-left: 50px;
            margin-top: 20px;
        }
        }
        .contanier_new{
            border: 1px solid $blue;
            border-radius: 20px;
            display: flex;
            justify-content: space-around;
            padding-top: 50px;
            margin-bottom: 120px;
            .foto{
                background: url(../img/image.jpg);
                width: 564px;
                height: 430px;
                border-radius: 10px;
                margin-bottom: 50px;
            }
            .text{
                width: 564px;
                p{
                    padding-bottom: 30px;
                    &:first-child{
                        font-family: $ElMessiri;
                        font-size: $fz24;
                        font-weight: $superbold;
                    }
                    &:last-child{
                        font-family: $Montserrat;
                        font-weight: $thin;
                        font-size: $fz16;
                    }
                }
            }
            button{
                width: 134px;
                height: 39px;
                background: $blue;
                border-radius: 5px;
                font-family: $Montserrat;
                font-size: $fz14;
                font-weight: $superbold;
                color: $white;
                margin-bottom: 50px;
            }
        }
        .endblog{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            font-size: $fz14;
        }
    }
}