// color
$blue: #018ABE;
$white: #ffffff;
$darkblue: #0e232d;
$dark: #0e4f69;

// fonts
//font-family: 'El Messiri', sans-serif;
//font-family: 'Montserrat', sans-serif;

$ElMessiri: 'El Messiri', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

$thin: 300;
$light: 400;
$bold: 600;
$superbold: 700;

$fz10: 10px;
$fz13: 13px;
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz42: 42px;
$fz64: 64px;

//contaniers
$xl: 1296px;

//@media
//1295px
//1024px
//767px
//576px
$breakpoint_xxl: 1297px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;

@mixin breakpoint($point) {
    @if $point == lg {
        @media (max-width: 1295px){@content;}
    }

    @else if $point == xl {
        @media (max-width: 1024px){@content;}
    }

    @else if $point == md {
        @media (max-width: 757px){@content;}
    }

    @else if $point == sm {
        @media (max-width: 476px){@content;}
    }
    
}