div{
    background-image: url(cards.7e0a18f0.png);
    background-repeat: no-repeat;
    height: 193px;
    width: 143px;
    display: inline-block;
    margin-right: 10px;
}
.z{
    background-position: -427px -1390px;
}
.x{
    background-position: -427px -1788px;
}
.c{
    background-position: -283px -1390px;
}
.v{
    background-position: -142px -2185px;
}
.b{
    background-position: 0px -2384px;
}
